body {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

.pokecards {
  display: flex;
  flex-wrap: wrap;
}

.pokecards div {
  border: 1px black solid;
  padding: 10px;
  margin: 10px;
}

.card {
  max-width: 300px;
}
.bug {
  background-image: linear-gradient(
    to left top,
    #cef199,
    #c2ed82,
    #b7ea6b,
    #aae652,
    #9de233
  );
}

.dark {
  background-image: url(https://images.unsplash.com/photo-1536167480021-ee03bbda5ab8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-image: linear-gradient(
    to left top,
    #6a4f47,
    #5b423b,
    #4c362f,
    #3e2a23,
    #301e18
  );
}

.dragon {
  background-image: url(https://images.unsplash.com/photo-1536167480021-ee03bbda5ab8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-image: linear-gradient(
    to left top,
    #b856ec,
    #a545e0,
    #9234d3,
    #7e22c7,
    #6909bb
  );
}

.electric {
  background-image: linear-gradient(
    to left top,
    #f9ff00,
    #fbf216,
    #fbe524,
    #fad82f,
    #f7cc38
  );
}

.fairy {
  background-image: url(https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
  background-image: linear-gradient(
    to left top,
    #ecd9ea,
    #e9c9e6,
    #e6b8e1,
    #e3a7dc,
    #e096d7
  );
}

.fighting {
  background-image: linear-gradient(
    to left top,
    #8a3c22,
    #76311c,
    #632615,
    #511c0e,
    #3f1203
  );
}

.fire {
  background-image: url(https://images.unsplash.com/photo-1536167480021-ee03bbda5ab8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-image: linear-gradient(
    to right bottom,
    #d66508,
    #db5804,
    #e14905,
    #e6350a,
    #eb1212
  );
}

.flying {
  background-image: linear-gradient(
    to left top,
    #a4b8f9,
    #869dfa,
    #6c81f8,
    #5564f3,
    #4344eb
  );
}

.ghost {
  background-image: linear-gradient(
    to left top,
    #7b34df,
    #6426b4,
    #4e198c,
    #370c66,
    #220342
  );
}

.grass {
  background-image: url(https://images.unsplash.com/photo-1492185244344-91fde303149e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
  background-image: linear-gradient(
    to left top,
    #08d68a,
    #00dc80,
    #00e173,
    #00e665,
    #12eb53
  );
}

.grass.poison {
  background-image: url(https://images.unsplash.com/photo-1519066473994-a7506988851d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=671&q=80);
  background-image: linear-gradient(
    to left top,
    #08d68a,
    #00dc80,
    #00e173,
    #00e665,
    #12eb53 #dd7dd1 #d466d1,
    #ca4fd1,
    #bc34d3,
    #ac08d6
  );
}

.ground {
  background-image: linear-gradient(
    to left top,
    #574b2d,
    #4d4023,
    #433419,
    #392a0f,
    #301f01
  );
}

.ice {
  background-image: linear-gradient(
    to left top,
    #ccf9f8,
    #b1eef5,
    #95e3f5,
    #7cd7f7,
    #66caf9
  );
}

.normal {
  background-image: linear-gradient(
    to left top,
    #b5b5ac,
    #96958e,
    #777671,
    #5a5955,
    #3e3d3b
  );
}

.poison {
  background-image: url(https://images.unsplash.com/photo-1519066473994-a7506988851d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=671&q=80);
  background-image: linear-gradient(
    to left top,
    #ac08d6,
    #bc34d3,
    #ca4fd1,
    #d466d1,
    #dd7dd1
  );
}

.psychic {
  background-image: linear-gradient(
    to left top,
    #e067ad,
    #e058a4,
    #e0479b,
    #e03291,
    #df0c86
  );
}

.rock {
  background-image: url(https://images.unsplash.com/photo-1549645402-a9d655c5c344?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
  background-image: linear-gradient(
    to left top,
    #d5b34c,
    #c5a543,
    #b69739,
    #a78930,
    #987c27
  );
}

.steel {
  background-image: linear-gradient(
    to left top,
    #dfe1e3,
    #babdc0,
    #969a9e,
    #74797e,
    #53595f
  );
}

.water {
  background-image: linear-gradient(
    to left top,
    #4051f3,
    #3646ee,
    #2b3be9,
    #1f2ee4,
    #0d20de
  );
}
