* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
  text-decoration: none;
  text-align: center;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;

}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}
.navSticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navSticky nav {
  width: 90%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .searchBar {
  width: 50%;
  height: 2rem;
}
.loading {
  margin-top: 5%;
}
.pokedexPage {
  padding-top: 100px;
}
.backbutton {
  font-weight: 500;
  font-size: 20px;
  padding: 16px;
  border-radius: 12%;
  position: absolute;
  top: 5%;
  left: 5%;
  background-image: linear-gradient(to bottom, #9c9c9c, #787878, #555555);
  color: white;
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  overflow: hidden;
  white-space: nowrap;
}

.backbutton:hover {
  background-image: linear-gradient(to top, #75a4e4, #5c8dd6, #4477c8, #2a61b9, #054ba9);
  color: white;
  max-width: 7rem;

}


.pokecards {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  text-transform: capitalize;
}

.pokecards .card {
  position: relative;
  height: 220px;
  width: 15%;
  min-width: 150px;
  margin-bottom: 2%;
  border: 1px black solid;
  border-radius: 10px;
  padding: 10px;
  transition: all .5s;
}

.pokecards .card:hover {
  transform: rotateY(180deg);
}

.pokecards .card a {
  display: block;
  backface-visibility: hidden;
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
}
.pokecards .card:hover .cardfront {
  transform: rotateY(180deg);
}
.pokecards .card .cardback {
  transform: rotateY(180deg);
  background-image: linear-gradient(to bottom, #ffffff, #f8f7f8, #f3f0f0, #ebe8e6, #e2e2de);
  border-radius: 10px;
  border: 0.3px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pokecards .card .cardback p {
  text-transform: uppercase;
  margin: 12px;
  font-weight: 600;
  opacity: 0.7;
}
.pokecards .card .cardback span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 9px;
}
.pokecards .card:hover .cardback {
  transform: rotateY(180deg);
  backface-visibility: visible;
}

.pokepage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokepage .container {
  width: 80%;
  max-width: 1000px;
  min-width: 300px;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.pokepage .container > div {
  width: 50%;
  min-width: 300px;
}

.pokepage .image {
  width: 50%;
}

.pokepage .image img {
  transition: transform 1.5s;
}
.pokepage .image:hover img {
  transform: scale(1.2);
}

.pokepage .info {
  width: 50%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10%;
  border: solid 1.6px black;
  padding: 20px;
}

.pokepage .name {
  font-weight: 800;
  font-size: 38px;
  text-transform: capitalize;
  margin: 10px;
}

.pokepage .id {
  font-weight: 600;
  font-size: 18px;
  opacity: 0.9;
}

.pokepage .physical {
  font-size: 13px;
  margin: 8px;
  opacity: 0.9;
}

.pokepage .typeword {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
}

.pokepage .type {
  text-transform: uppercase;
  margin: 12px;
  font-weight: 600;
  font-size: 16px;
  opacity: 0.7;
}

.pokepage .abilities {
  text-transform: capitalize;
  margin: 4px;
  font-size: 14px;
  opacity: 0.9;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  max-width: 300px;
}

.card h6 {
  font-size: 1.2rem;
}

.bug {
  background-image: linear-gradient(
    to left top,
    #f2fae5,
    #dff5bd,
    #caef93,
    #b5e968,
    #9de233
  );
}

.bug.fighting {
  background-image: linear-gradient(
    to left top,
    #f2fae5,
    #dff5bd,
    #caef93,
    #b5e968,
    #9de233,
    #b69d95,
    #98786e,
    #7a5449,
    #5d3327,
    #3f1203
  );
}

.bug.flying {
  background-image: linear-gradient(
    to left top,
    #9de233,
    #b5e968,
    #caef93,
    #dff5bd,
    #f2fae5,
    #a4b8f9,
    #869dfa,
    #6c81f8,
    #5564f3,
    #4344eb
  );
}

.bug.grass {
  background-image: linear-gradient(
    to left top,
    #9de233,
    #b5e968,
    #caef93,
    #dff5bd,
    #f2fae5,
    #d4fa99,
    #bbe87a,
    #a3d65b,
    #89c439,
    #6fb306
  );
}

.bug.poison {
  background-image: linear-gradient(
    to left top,
    #c105b0,
    #c640bf,
    #ca5ece,
    #cf78da,
    #d590e6,
    #f2fae5,
    #dff5bd,
    #caef93,
    #b5e968,
    #9de233
  );
}

.bug.rock {
  background-image: linear-gradient(
    to left top,
    #edd68e,
    #d7bf74,
    #c2a85a,
    #ad9241,
    #987c27,
    #9de233,
    #b5e968,
    #caef93,
    #dff5bd,
    #f2fae5
  );
}

.bug.steel {
  background-image: linear-gradient(
    to left top,
    #f2fae5,
    #dff5bd,
    #caef93,
    #b5e968,
    #9de233,
    #dfe1e3,
    #babdc0,
    #969a9e,
    #74797e,
    #53595f
  );
}

.dark {
  background-image: linear-gradient(
    to left top,
    #b69d95,
    #8f7971,
    #6a564f,
    #473630,
    #261813
  );
}

.dark.flying {
  background-image: linear-gradient(
    to left top,
    #261813,
    #473630,
    #6a564f,
    #8f7971,
    #b69d95,
    #a4b8f9,
    #869dfa,
    #6c81f8,
    #5564f3,
    #4344eb
  );
}

.dark.normal {
  background-image: linear-gradient(
    to left top,
    #3c3c3b,
    #5d5d5b,
    #80807e,
    #a5a5a2,
    #cbcbc8,
    #b69d95,
    #8f7971,
    #6a564f,
    #473630,
    #261813
  );
}

.dark.poison {
  background-image: linear-gradient(
    to left top,
    #c105b0,
    #c640bf,
    #ca5ece,
    #cf78da,
    #d590e6,
    #b69d95,
    #8f7971,
    #6a564f,
    #473630,
    #261813
  );
}

.dark.water {
  background-image: linear-gradient(
    to left top,
    #261813,
    #473630,
    #6a564f,
    #8f7971,
    #b69d95,
    #81baf9,
    #5096ee,
    #2070e0,
    #0049cc,
    #0918b2
  );
}

.dragon {
  background-image: linear-gradient(
    to left top,
    #ebe2f2,
    #c9aede,
    #a67bc9,
    #8148b4,
    #59079e
  );
}

.dragon.electric {
  background-image: linear-gradient(
    to left top,
    #59079e,
    #8148b4,
    #a67bc9,
    #c9aede,
    #ebe2f2,
    #f2f66e,
    #f1e858,
    #f1da42,
    #f1cc2b,
    #f1bd07
  );
}

.dragon.fire {
  background-image: linear-gradient(
    to left top,
    #fc8840,
    #f87331,
    #f45d24,
    #f04119,
    #eb1212,
    #59079e,
    #8148b4,
    #a67bc9,
    #c9aede,
    #ebe2f2
  );
}

.dragon.flying {
  background-image: linear-gradient(
    to left top,
    #ebe2f2,
    #c9aede,
    #a67bc9,
    #8148b4,
    #59079e,
    #4344eb,
    #5564f3,
    #6c81f8,
    #869dfa,
    #a4b8f9
  );
}

.electric {
  background-image: linear-gradient(
    to left top,
    #f2f66e,
    #f1e858,
    #f1da42,
    #f1cc2b,
    #f1bd07
  );
}

.electric.flying {
  background-image: linear-gradient(
    to left top,
    #f2f66e,
    #f1e858,
    #f1da42,
    #f1cc2b,
    #f1bd07,
    #4344eb,
    #5564f3,
    #6c81f8,
    #869dfa,
    #a4b8f9
  );
}

.electric.psychic {
  background-image: linear-gradient(
    to left top,
    #df0c86,
    #e43895,
    #e951a3,
    #ed66b1,
    #f179be,
    #f2f66e,
    #f1e858,
    #f1da42,
    #f1cc2b,
    #f1bd07
  );
}

.electric.rock {
  background-image: linear-gradient(
    to left top,
    #987c27 #ad9241,
    #c2a85a,
    #d7bf74,
    #edd68e,
    #f2f66e,
    #f1e858,
    #f1da42,
    #f1cc2b,
    #f1bd07
  );
}

.electric.steel {
  background-image: linear-gradient(
    to left top,
    #53595f #74797e,
    #969a9e,
    #babdc0,
    #dfe1e3,
    #f2f66e,
    #f1e858,
    #f1da42,
    #f1cc2b,
    #f1bd07
  );
}

.electric.water {
  background-image: linear-gradient(
    to left top,
    #0918b2,
    #0049cc,
    #2070e0,
    #5096ee,
    #81baf9,
    #f2f66e,
    #f1e858,
    #f1da42,
    #f1cc2b,
    #f1bd07
  );
}

.fairy {
  background-image: linear-gradient(
    to left top,
    #ecd9ea,
    #e9c9e6,
    #e6b8e1,
    #e3a7dc,
    #e096d7
  );
}

.fairy.flying {
  background-image: linear-gradient(
    to left top,
    #ecd9ea,
    #e9c9e6,
    #e6b8e1,
    #e3a7dc,
    #e096d7,
    #a4b8f9,
    #869dfa,
    #6c81f8,
    #5564f3
  );
}

.fairy.normal {
  background-image: linear-gradient(
    to left top,
    #e096d7,
    #e3a7dc,
    #e6b8e1,
    #e9c9e6,
    #ecd9ea,
    #cbcbc8,
    #a5a5a2,
    #80807e,
    #5d5d5b,
    #3c3c3b
  );
}

.fairy.poison {
  background-image: linear-gradient(
    to left top,
    #c105b0,
    #c640bf,
    #ca5ece,
    #cf78da,
    #d590e6,
    #ecd9ea,
    #e9c9e6,
    #e6b8e1,
    #e3a7dc,
    #e096d7
  );
}

.fairy.psychic {
  background-image: linear-gradient(
    to left top,
    #e096d7,
    #e3a7dc,
    #e6b8e1,
    #e9c9e6,
    #ecd9ea,
    #f179be,
    #ed66b1,
    #e951a3,
    #e43895,
    #df0c86
  );
}

.fairy.water {
  background-image: linear-gradient(
    to left top,
    #0918b2,
    #0049cc,
    #2070e0,
    #5096ee,
    #81baf9,
    #ecd9ea,
    #e9c9e6,
    #e6b8e1,
    #e3a7dc,
    #e096d7
  );
}

.fighting {
  background-image: linear-gradient(
    to left top,
    #b69d95,
    #98786e,
    #7a5449,
    #5d3327,
    #3f1203
  );
}

.fighting.flying {
  background-image: linear-gradient(
    to left top,
    #b69d95,
    #98786e,
    #7a5449,
    #5d3327,
    #3f1203,
    #4344eb,
    #5564f3,
    #6c81f8,
    #869dfa,
    #a4b8f9
  );
}

.fighting {
  background-image: linear-gradient(
    to left top,
    #b69d95,
    #98786e,
    #7a5449,
    #5d3327,
    #3f1203
  );
}

.fighting.psychic {
  background-image: linear-gradient(
    to left top,
    #3f1203,
    #5d3327,
    #7a5449,
    #98786e,
    #b69d95,
    #f179be,
    #ed66b1,
    #e951a3,
    #e43895,
    #df0c86
  );
}

.fighting.water {
  background-image: linear-gradient(
    to left top,
    #3f1203,
    #5d3327,
    #7a5449,
    #98786e,
    #b69d95,
    #81baf9,
    #5096ee,
    #2070e0,
    #0049cc,
    #0918b2
  );
}

.fire {
  background-image: linear-gradient(
    to left top,
    #fc8840,
    #f87331,
    #f45d24,
    #f04119,
    #eb1212
  );
}

.fire.flying {
  background-image: linear-gradient(
    to left top,
    #fc8840,
    #f87331,
    #f45d24,
    #f04119,
    #eb1212,
    #4344eb,
    #5564f3,
    #6c81f8,
    #869dfa,
    #a4b8f9
  );
}

.fire.ghost {
  background-image: linear-gradient(
    to left top,
    #eb1212,
    #f04119,
    #f45d24,
    #f87331,
    #fc8840,
    #a998bd,
    #9379b2,
    #7d5aa6,
    #663b99,
    #4e198c
  );
}

.flying {
  background-image: linear-gradient(
    to left top,
    #a4b8f9,
    #869dfa,
    #6c81f8,
    #5564f3,
    #4344eb
  );
}

.flying.grass {
  background-image: linear-gradient(
    to left top,
    #6fb306,
    #89c439,
    #a3d65b,
    #bbe87a,
    #d4fa99,
    #a4b8f9,
    #869dfa,
    #6c81f8,
    #5564f3,
    #4344eb
  );
}

.flying.ground {
  background-image: linear-gradient(
    to left top,
    #302209,
    #574933,
    #80735e,
    #aca08e,
    #d9d0c0,
    #a4b8f9,
    #869dfa,
    #6c81f8,
    #5564f3,
    #4344eb
  );
}

.flying.ice {
  background-image: linear-gradient(
    to left top,
    #a4b8f9,
    #869dfa,
    #6c81f8,
    #5564f3,
    #4344eb,
    #66caf9,
    #7cd7f7,
    #95e3f5,
    #b1eef5,
    #ccf9f8
  );
}

.flying.normal {
  background-image: linear-gradient(
    to left top,
    #a4b8f9,
    #869dfa,
    #6c81f8,
    #5564f3,
    #4344eb,
    #3c3c3b,
    #5d5d5b,
    #80807e,
    #a5a5a2,
    #cbcbc8
  );
}

.flying.poison {
  background-image: linear-gradient(
    to left top,
    #a4b8f9,
    #869dfa,
    #6c81f8,
    #5564f3,
    #4344eb,
    #c105b0,
    #c640bf,
    #ca5ece,
    #cf78da,
    #d590e6
  );
}

.flying.psychic {
  background-image: linear-gradient(
    to left top,
    #f179be,
    #ed66b1,
    #e951a3,
    #e43895,
    #df0c86,
    #4344eb,
    #5564f3,
    #6c81f8,
    #869dfa,
    #a4b8f9
  );
}

.flying.rock {
  background-image: linear-gradient(
    to left top,
    #edd68e,
    #d7bf74,
    #c2a85a,
    #ad9241,
    #987c27,
    #4344eb,
    #5564f3,
    #6c81f8,
    #869dfa,
    #a4b8f9
  );
}

.flying.water {
  background-image: linear-gradient(
    to left top,
    #4344eb,
    #5564f3,
    #6c81f8,
    #869dfa,
    #a4b8f9,
    #81baf9,
    #5096ee,
    #2070e0,
    #0049cc,
    #0918b2
  );
}

.ghost {
  background-image: linear-gradient(
    to left top,
    #a998bd,
    #9379b2,
    #7d5aa6,
    #663b99,
    #4e198c
  );
}

.ghost.poison {
  background-image: linear-gradient(
    to left top,
    #4e198c,
    #663b99,
    #7d5aa6,
    #9379b2,
    #a998bd,
    #dd7dd1,
    #d466d1,
    #ca4fd1,
    #bc34d3,
    #ac08d6
  );
}

.grass {
  background-image: linear-gradient(
    to left top,
    #d4fa99,
    #bbe87a,
    #a3d65b,
    #89c439,
    #6fb306
  );
}

.grass.poison {
  background-image: linear-gradient(
    to left top,
    #d4fa99,
    #bbe87a,
    #a3d65b,
    #89c439,
    #6fb306,
    #dd7dd1,
    #d466d1,
    #ca4fd1,
    #bc34d3,
    #ac08d6
  );
}

.grass.psychic {
  background-image: linear-gradient(
    to left top,
    #6fb306,
    #89c439,
    #a3d65b,
    #bbe87a,
    #d4fa99,
    #f179be,
    #ed66b1,
    #e951a3,
    #e43895,
    #df0c86
  );
}

.ground {
  background-image: linear-gradient(
    to left top,
    #d9d0c0,
    #aca08e,
    #80735e,
    #574933,
    #302209
  );
}

.ground.rock {
  background-image: linear-gradient(
    to left top,
    #987c27,
    #ad9241,
    #c2a85a,
    #d7bf74,
    #edd68e,
    #d9d0c0,
    #aca08e,
    #80735e,
    #574933,
    #302209
  );
}

.ground.steel {
  background-image: linear-gradient(
    to left top,
    #302209,
    #574933,
    #80735e,
    #aca08e,
    #d9d0c0,
    #dfe1e3,
    #babdc0,
    #969a9e,
    #74797e,
    #53595f
  );
}

.ground.water {
  background-image: linear-gradient(
    to left top,
    #302209,
    #574933,
    #80735e,
    #aca08e,
    #d9d0c0,
    #81baf9,
    #5096ee,
    #2070e0,
    #0049cc,
    #0918b2
  );
}

.ice {
  background-image: linear-gradient(
    to left top,
    #ccf9f8,
    #b1eef5,
    #95e3f5,
    #7cd7f7,
    #66caf9
  );
}

.ice.fairy {
  background-image: linear-gradient(
    to left top,
    #ccf9f8,
    #b1eef5,
    #95e3f5,
    #7cd7f7,
    #66caf9,
    #e096d7,
    #e3a7dc,
    #e6b8e1,
    #e9c9e6,
    #ecd9ea
  );
}

.ice.psychic {
  background-image: linear-gradient(
    to left top,
    #ccf9f8,
    #b1eef5,
    #95e3f5,
    #7cd7f7,
    #66caf9,
    #f179be,
    #ed66b1,
    #e951a3,
    #e43895,
    #df0c86
  );
}

.ice.steel {
  background-image: linear-gradient(
    to left top,
    #ccf9f8,
    #b1eef5,
    #95e3f5,
    #7cd7f7,
    #66caf9,
    #53595f,
    #74797e,
    #969a9e,
    #babdc0,
    #dfe1e3
  );
}

.ice.water {
  background-image: linear-gradient(
    to left top,
    #ccf9f8,
    #b1eef5,
    #95e3f5,
    #7cd7f7,
    #66caf9,
    #81baf9,
    #5096ee,
    #2070e0,
    #0049cc,
    #0918b2
  );
}

.normal {
  background-image: linear-gradient(
    to left top,
    #cbcbc8,
    #a5a5a2,
    #80807e,
    #5d5d5b,
    #3c3c3b
  );
}

.normal.psychic {
  background-image: linear-gradient(
    to left top,
    #cbcbc8,
    #a5a5a2,
    #80807e,
    #5d5d5b,
    #3c3c3b,
    #f179be,
    #ed66b1,
    #e951a3,
    #e43895,
    #df0c86
  );
}

.poison {
  background-image: linear-gradient(
    to left top,
    #d590e6,
    #cf78da,
    #ca5ece,
    #c640bf,
    #c105b0
  );
}

.poison.ground {
  background-image: linear-gradient(
    to left top,
    #c105b0,
    #d590e6,
    #cf78da,
    #ca5ece,
    #c640bf,
    #d9d0c0,
    #aca08e,
    #80735e,
    #574933,
    #302209
  );
}

.poison.psychic {
  background-image: linear-gradient(
    to left top,
    #c105b0,
    #d590e6,
    #cf78da,
    #ca5ece,
    #c640bf,
    #f179be,
    #ed66b1,
    #e951a3,
    #e43895,
    #df0c86
  );
}

.poison.water {
  background-image: linear-gradient(
    to left top,
    #c105b0,
    #d590e6,
    #cf78da,
    #ca5ece,
    #c640bf,
    #81baf9,
    #5096ee,
    #2070e0,
    #0049cc,
    #0918b2
  );
}

.psychic {
  background-image: linear-gradient(
    to left top,
    #f179be,
    #ed66b1,
    #e951a3,
    #e43895,
    #df0c86
  );
}

.psychic.water {
  background-image: linear-gradient(
    to left top,
    #0918b2,
    #0049cc,
    #2070e0,
    #5096ee,
    #81baf9,
    #f179be,
    #ed66b1,
    #e951a3,
    #e43895,
    #df0c86
  );
}

.rock {
  background-image: linear-gradient(
    to left top,
    #edd68e,
    #d7bf74,
    #c2a85a,
    #ad9241,
    #987c27
  );
}

.rock.water {
  background-image: linear-gradient(
    to left top,
    #0918b2,
    #0049cc,
    #2070e0,
    #5096ee,
    #81baf9,
    #edd68e,
    #d7bf74,
    #c2a85a,
    #ad9241,
    #987c27
  );
}

.steel {
  background-image: linear-gradient(
    to left top,
    #dfe1e3,
    #babdc0,
    #969a9e,
    #74797e,
    #53595f
  );
}

.water {
  background-image: linear-gradient(
    to left top,
    #81baf9,
    #5096ee,
    #2070e0,
    #0049cc,
    #0918b2
  );
}

/* Dropdown styling */
#dropList {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #c7c3c3f2;
  overflow: hidden;
  transition: height 1s;
  z-index: 99;
}
#dropList.closed {
  height: 0;
}
#dropList ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  width: 50%;
  margin: auto;
  padding: 5% 0;
}
#dropList li {
  margin: 5px 20px;
}
#dropList a {
  display: block;
  color: white;
  padding: 0.75rem 2rem;
  text-align: center;
}
#dropList a:hover {
  background-image: linear-gradient(180deg, #ffffff82, transparent, #ffffff82);
}
#dropList .closeDropList {
  position: absolute;
  right: 8%;
  top: 8%;
  background-color: transparent;
  font-size: 5rem;
  border: none;
}
/* end of DropList styling */

.moves {
  display: none;
}

.backbutton {
  position: absolute;
}
.pokepage .container {
  width: 80%;
  max-width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
}
.pokepage .container > div {
  width: 50%;
  min-width: 300px;
}

.pokemoves {
  background: white;
  margin-top: 5px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 5;
  left: 0;
  background-color: #c7c3c3f2;
  overflow: hidden;
  z-index: 99;
  border: 1px black solid;
}

.pokemoves p {
  margin: 10px;
  
  padding: 5px;
  border: 1px black solid;
  font-size: medium;
  border-radius: 10%;
  background-color: white;
  flex-wrap: column;
  flex-direction: column;
  margin: auto;
}

.moves.open {
  display: block;
}
